body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.main-img {
  width: 250px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
  position: relative;
  height: 100px;
}

button {
  font-size: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
  left: 50%;
  transform: translateX(-120%);
}

#noBtn {
  background-color: #555;
  color: white;
  left: 50%;
  transform: translateX(20%);
}

.hidden {
  display: none;
}

.pop-text {
  font-size: 42px;
  color: #ff2f68;
  margin-bottom: 20px;
  animation: popIn 0.8s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}



.taunt-text {
  margin-top: 30px;
  font-size: 26px;
  color: #ff2f68;
  animation: popIn 0.6s ease-out forwards;
}
